<div class="inscription">
    <h1>Inscription</h1>
    <div>
        <form>
            <div class="form-group">
                <label for="">Nom d'utilisateur</label>
                <input type="text" class="form form-control" >
            </div>
            <div class="form form-group">
                <label for="">Mot de passe</label>
                <input type="password" class="form form-control">
            </div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </form>
    </div>
</div>